body{
    background-color: #94d4ff;
}
.container{
    max-width: 90%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(61, 161, 161);
    margin: auto auto;
    border-radius: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.filme{
    width: 100px;
    height: 130px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-align: flex;
    border-radius: 10px;
}

.filme img{
    width: 100px;
    height: 130px;
    border-radius: 10px;
}